<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Bookshelf</title>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/loginPage">Login</a>
        <a href="/bookshelf">Bookshelf</a>
        <a href="/crud">CRUD</a>
    </div>
    <div class="container">
        <h2>Bookshelf</h2>
        <h3>User:</h3>
        

    </div>
    <script src="/scripts/Bookshelf.js"></script>
</body>
</html>