<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Bookshelf</title>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/loginPage">Login</a>
        <a href="/bookshelf">Bookshelf</a>
        <a href="/crud">CRUD</a>
        <a href="/profile">Profile</a>
    </div>
    <div class="container">
        <div>
            <h1 id="usernameTitle">Not logged in</h1>
            <h3 id="followingCount">Following:</h3>
            <h3 id="followersCount">Followers:</h3>
        </div>
        <div id="save-btn" class="save-ready">
            <p>Save Shelves</p>
        </div>
        <div id="shelves">
            <div class="shelf">
                <h2 class="shelf-name">TBR</h2>
                <div class="book-div">
                    <div class="book-front">
                        <p>Jane Austen</p>
                        <p>Pride and Prejudice</p>
                    </div>
                    <div class="book-side">
                        <p>Jane Austen</p>
                        <p>Pride and Prejudice</p>
                    </div>
                </div>

            </div>



        </div>    
        <div id="edit-shelves">

        </div>  
    </div>
    <script src="/scripts/bookshelf.js"></script>
</body>
</html>