<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Bookends | Community</title>
    <link rel="icon" href="/images/logos/bookends-logo-icon.ico" type="image/x-icon">
</head>

<body>
    <div class="nav nav-container">
        <div class="nav-left">
            <a href="/"><img src="/images/logos/bookends-logo-tr.png" class="nav-logo"></a>
            <a href="/">BOOKENDS</a>
        </div>
        <div class="nav-right">
            <a href="/community">COMMUNITY</a>
            <a href="/bookshelf">MY BOOKSHELF</a>
            <a href="/profile">PROFILE</a>
        </div>
    </div>
    <div class="container">
        <div class="banner">
            <h1>Community</h1>
            <h2>Search users and find followed bookshelves</h2>
        </div>

        <div class="content">
            <div class="banner">
                <h3>Search</h3>
            </div>
            <div class="search-form">
                <input type="text" class="seach-input">
                <button>></button>
            </div>
            <div id="search-results">

            </div>
        </div>

        <div class="content">
            <div class="banner">
                <h3>Following</h3>
            </div>
            <div id="following-content">

            </div>
        </div>

    </div>

    <script src=""></script>
</body>

</html>