<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Bookends | Login</title>
    <link rel="icon" href="/images/logos/bookends-logo-icon.ico" type="image/x-icon">
</head>

<body>
    <div class="nav nav-container">
        <div class="nav-left">
            <a href="/"><img src="/images/logos/bookends-logo-tr.png" class="nav-logo"></a>
            <a href="/">BOOKENDS</a>
        </div>
        <div class="nav-right">
            <a href="/community">COMMUNITY</a>
            <a href="/bookshelf">MY BOOKSHELF</a>
            <a href="/profile">PROFILE</a>
        </div>
    </div>
    <div class="container">

        <h2>Login</h2>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="form-group ">
            <p id="errorMessage" class="error-message hide">Error:</p>
        </div>

        <div class="form-group">
            <button id="loginButton" class="form-button login-button">Login</button>
        </div>



        <div class="form-group">
            <p class="guidence-text">Don't have acccount? Register below.</p>
            <a href="/registerPage"><button class="form-button register-button">Register</button></a>
        </div>



    </div>
    <script src="/scripts/login.js"></script>
</body>

</html>