<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Login</title>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/loginPage">Login</a>
        <a href="/bookshelf">Bookshelf</a>
        <a href="/crud">CRUD</a>
    </div>
    <div class="container">

        <h2>Login</h2>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="form-group">
            <button id="loginButton" >Login</button>
        </div>

        <div class="form-group">
            <button id="registerButton" >Register</button>
        </div>

        <div class="form-group">
            <button id="" >Test</button>
        </div>

    </div>
  <script src="/scripts/login.js"></script>
</body>
</html>
