<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/Shelves.css">
    <title>Bookends | My Bookshelf</title>
    <link rel="icon" href="/images/logos/bookends-logo-icon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="nav nav-container">
        <div class="nav-left">
            <a href="/"><img src="/images/logos/bookends-logo-tr.png" class="nav-logo"></a>
            <a href="/">BOOKENDS</a>
        </div>
        <div class="nav-right">
            <a href="/community">COMMUNITY</a>
            <a href="/bookshelf">MY BOOKSHELF</a>
            <a href="/profile">PROFILE</a>
        </div>
    </div>
    <div class="container">

        <!-- <h1><%= username %>'s profile</h1> -->
        <!-- <h2><%= data %></h2> -->

        <div class="bookshelf-section flex-row-between">


            <h1 id="usernameTitle"></h1>
            <div class="flex-column-centre">
                <a href="/myFollowing">
                    <h3 id="followingCount"></h3>
                </a>
                <a href="/myFollowers">
                    <h3 id="followersCount"></h3>
                </a>
            </div>

        </div>

        <div id="add-new" class="bookshelf-section">
            <h3 class="section-title">Search and Add to Collection</h3>
            <div id="book-search">
                <input id="search-input" type="text" placeholder="Title or ISBN">
                <button id="search-btn">Search</button>
            </div>

            <div id="search-results">
                <div id="book-results">

                </div>
            </div>
        </div>

        <div id="books" class="bookshelf-section">
            <h3 id="booksCount" class="section-title">Books: </h3>
            <div id="booksDisplay">

            </div>
        </div>

        <div id="shelves" class="bookshelf-section">
            <h3 id="shelvesCount" class="section-title">Shelves: </h3>

        </div>

        <div id="edit-shelves" class="bookshelf-section">
            <div id="new-shelf-btn" class="btn book-btn save-unavailable">
                <p>New Shelf</p>
            </div>
            <div id="save-btn" class="btn book-btn save-ready">
                <p>Save Shelves Order</p>
            </div>
        </div>

    </div>
    <script src="/scripts/bookshelf.js"></script>
    <script src="/scripts/myBookshelf.js"></script>
</body>

</html>