<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Bookends | Following</title>
    <link rel="icon" href="/images/logos/bookends-logo-icon.ico" type="image/x-icon">
</head>

<body>
    <div class="nav nav-container">
        <div class="nav-left">
            <a href="/"><img src="/images/logos/bookends-logo-tr.png" class="nav-logo"></a>
            <a href="/">BOOKENDS</a>
        </div>
        <div class="nav-right">
            <a href="/community">COMMUNITY</a>
            <a href="/bookshelf">MY BOOKSHELF</a>
            <a href="/profile">PROFILE</a>
        </div>
    </div>
    <div class="container">

        <div class="content">
            <h1 id="usernameTitle">Following</h1>
        </div>

        <div class="content">
            <div id="following-content">

            </div>
        </div>

    </div>
    <script src=""></script>
</body>

</html>