<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Bookends | My Profile</title>
  <link rel="icon" href="/images/logos/bookends-logo-icon.ico" type="image/x-icon">
</head>

<body>
  <div class="nav nav-container">
    <div class="nav-left">
      <a href="/"><img src="/images/logos/bookends-logo-tr.png" class="nav-logo"></a>
      <a href="/">BOOKENDS</a>
    </div>
    <div class="nav-right">
      <a href="/community">COMMUNITY</a>
      <a href="/bookshelf">MY BOOKSHELF</a>
      <a href="/profile">PROFILE</a>
    </div>
  </div>
  <div class="container">

    <div>
      <h1 id="usernameTitle">Not logged in</h1>
      <h3 id="followingCount">Following:</h3>
      <h3 id="followersCount">Followers:</h3>
    </div>


    <div>
      <h4>Change password</h4>
      <input type="text" placeholder="current password">
      <input type="text" placeholder="repeat password">
      <input type="text" placeholder="new password">
      <button>Change Password</button>
    </div>


  </div>
  <script src="/scripts/profile.js"></script>
</body>

</html>