.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookshelf-section {
    margin-bottom: 2vh;
    padding-bottom: 2vh;

    border-bottom: 1px solid lightgray;
}

.shelf {
    height: 30vh;
    width: 100%;

}

.shelf-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    border-top: 3px solid #3a3129;
    border-bottom: 3px solid #3a3129;

    height: 80%;
    width: 100%;
}

.book-div {
    /* test height */
    /* height: 50vh; */

    height: 100%;
    aspect-ratio: 1 / 1.6;
}

.book-front {
    border: 1px solid red;
}

.book-side {
    border: 1px solid blue;

}

.book-hide {
    display: none;
}

.book-text {
    width: fit-content;
    block-size: fit-content;
}

.cover-img {
    height: 100%;
    width: 100%;
}

#book-results {
    height: 350px;
    width: 100%;
    background-color: beige;
    margin-top: 1vw;
    margin-bottom: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

}

.book-search-result {

    flex-shrink: 0;
    /* Prevent items from shrinking */

    height: 100%;
    width: 350px;

    box-sizing: border-box;
    border: 1px solid lightgray;
    margin-right: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.book-search-img {
    width: 50%;
    height: auto;
}

.book-search-info {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}