/* Define the colors from the color palette */
:root {
  /* --primary-brand-color: #8B4513; */
  --primary-brand-color: #FF7F27;
  /* Earthy Brown */

  --secondary-brand-color: #5E5E5E;
  /* --secondary-brand-color: #4B0082; */
  /* --secondary-brand-color: #3C2317; */
  /* 
  Soft Charcoal Gray: #333333
  Deep Slate Gray: #4A4A4A
  Midnight Gray: #5E5E5E  
  */

  --background-color: #F5F5F5;
  /* --background-color: #006400;  */
  /* --background-color: #3a3129; */
  /* 
    Off-White: #F5F5F5
    Ivory: #FFFFF0
    Cream: #FFFDD0 
*/

  --accent-color: #000000;
  /* Ink Black */
  /* 
  Light Silver: #C0C0C0
  Dove Gray: #6A6A6A
  Cool Gray: #8C8C8C
  */

  /* 
  #C8DBBE
  #9F8772
  #3C2317  
  */
}


body {
  /* background-image: url("../images/backgrounds/paper-bg.jpg"); */
  /* background-size: cover; */
  /* background-repeat: repeat; */
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;

  font-size: 16px;


  margin: 0;
  padding: 0;
}

/* Navbar styles */
.nav {
  background-color: var(--primary-brand-color);
  padding: 10px;
  position: sticky;
  top: 0;
  height: 5vh;
  min-height: 4vw;

  border: 2px, 0px, 2px, 0px solid lightgray;


}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.nav a {
  color: var(--accent-color);
  text-decoration: none;
  text-align: left;
  padding: 8px 16px;

  min-width: 100px;
  margin: 0 5px;
  font-weight: bold;
}

.nav-logo {
  min-width: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;

  min-height: 3vh;
  max-height: 7vh;
}

.nav a:hover {
  /* background-color: var(--primary-brand-color); */
  /* color: var(--accent-color); */
  color: white;

}

.nav a.active {
  background-color: var(--primary-brand-color);
  color: var(--accent-color);
}

.nav-left {

  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.nav-right {

  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

}


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* bookends logo badge */
.logo-badge {
  border: 2px solid var(--primary-brand-color);
  border-radius: 2vw;
}

/* container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.centre-text {
  text-align: center;
}

.hide {
  display: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button {
  background-color: #4CAF50;
}

.login-button:hover {
  background-color: #2c702e;
}

.register-button {
  background-color: grey;
}

.register-button:hover {
  background-color: rgb(56, 55, 55);
}

.error-message {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;

}

.bookList {
  list-style: none;
  padding: 0;
}

.bookList li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bookList li:last-child {
  margin-bottom: 0;
}

/* Optional: Add additional styles for book titles, images, etc. */

.bookList li .title {
  font-weight: bold;
}

.bookList li img {
  max-width: 100%;
  height: auto;
}

#crudDiv {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: beige;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-btn {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.save-ready {
  background-color: #45a049;
  color: white;
}

.save-ready:hover {
  background-color: #357e39;
}

.save-unavailable {
  background-color: lightgray;
  color: black;
}

#noUserContainerDiv {
  display: none;
}

.extra-spacing {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.content {
  height: 40vh;
  border-bottom: 1px solid var(--secondary-brand-color);

}